* {
    margin: 0;
    font-family: "Inter";
}
.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F55A5A;
    height: 75px;
    color: white;
    font-size: 20px;

    

    
}

.nav .fa {
    width: 20px;
    font-size: 34px;
    margin-right: 20px;
}

.card {
    display: flex;
    justify-content: center;
    margin: 50px 0 40px 0;
    
}


.cardImage img {
    height: 400px;
    border-radius: 5px;
    margin: 0 40px 0 0;
}

.cardData {
    width: 45%;
    margin-top: 50px;
}

.cardData span {
    display: flex;
    margin-bottom: 10px;
}

.cardData .fa {
    color: #F55A5A;
    margin-right: 10px;
}

.location {
    letter-spacing: 4px;
    margin-right: 20px;
}

.cardData a {
    color: #918E9B;
}

.cardData h2 {
    font-size: 50px;
    margin: 30px 0 50px 0;
}

.cardData h5 {
    margin-bottom: 20px;
}

.description {
    line-height: 30px;
}


